<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/Logo.png" alt="" width="45" height="30">
        </a>
        <a class="navbar-brand" href="">SCHOOLOGY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Cursos">CURSOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Grupos">GRUPOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Recursos">RECURSOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Calificaciones">CALIFICACIONES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Galeria">GALERIA</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="btn btn-primary" href="Nomina" role="button">Nomina</a>
                <button class="btn btn-primary" type="submit">Buscar</button>
                <button class="btn btn-primary" type="submit">Calendario</button>
                <button class="btn btn-primary" type="submit">Mensajes</button>
                <button class="btn btn-primary" type="submit">notificaciones</button>
                <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        ABRAHAM DAVID
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Su perfil</a></li>
                        <li><a class="dropdown-item" href="#">Tecnológico de Estudios...</a></li>
                        <li><a class="dropdown-item" href="#">Configuracion</a></li>
                        <li><a class="dropdown-item" href="Login">Iniciar Sesión</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
